<header class="header-area">
  <!-- Top Header Area Start -->
  <div class="top-header-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 classy_logo">
            gleioa
        </div>
        <div class="col-6">
          <div class="top-header-content">
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: 001-1234-88888</span></a>
            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> <span>Email: info.aman@gmail.com</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Header Area End -->

  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="hamiNav">


          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./blog.html">Blog</a></li>
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header Area End -->

<!-- Welcome Area Start -->
<section class="welcome-area">

  <!-- Welcome Pattern -->
  <div class="welcome-pattern">
    <img src="../assets/welcome-pattern.png" alt="">
  </div>

  <!-- Welcome Slide -->
  <div class="welcome-slides owl-carousel">

    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide">
      <!-- Welcome Content -->
      <div class="welcome-content h-100">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Welcome Text -->
            <div class="col-12 col-md-9 col-lg-7">
              <div class="welcome-text mb-50">
                <h3 data-animation="fadeInLeftBig" data-delay="200ms" data-duration="1s"> GLEIO For Users</h3>
                <p data-animation="fadeInLeftBig" data-delay="600ms" data-duration="1s">Know Live Orders and Delayed
                  Orders</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Thumbnail -->
      <div class="welcome-thumbnail">
        <img src="../assets/1.png" alt="">
      </div>
    </div>
  </div>

  <!-- Clouds -->
  <div class="clouds">
    <img src="../assets/cloud-1.png" alt="" class="cloud-1">
    <img src="../assets/cloud-2.png" alt="" class="cloud-2">
    <img src="../assets/cloud-3.png" alt="" class="cloud-3">
    <img src="../assets/cloud-4.png" alt="" class="cloud-4">
    <img src="../assets/cloud-5.png" alt="" class="cloud-5">
  </div>
</section>
<div class="section-idea" id="menuSwitch">
  <div class="container idea-container-wrap">
    <div class="section-dots idea-main-dot" id="idea_animation"></div>
    <!-- intro -->
    <div class="intro-idea-wrap ">

      <div class="intro-idea-title main-title">How the idea came about...</div>
      <div class="intro-idea-text main-text" id="idea_animation_m_left">
        While we were traveling all over together, we encountered many of the inconveniences and problems that hotel
        guests often experience. We decided to do something about it—to make an application that would make our stays
        more convenient while providing a service that hotels could take advantage of too. </div>
    </div>
    <!-- intro -->
    <!-- content -->
    <div class="idea-content">
      <!-- left side -->
      <div class="half left">
        <div class="content-title idea-content-title">Your hotel’s facing several problems...</div> <!-- title -->
        <div class="clearfix"></div> <!-- clearfix -->
        <div class="left-questions question-bubble q1 animated zoomIn random0">
          Reservations come from Booking and deal sites. We actually have to pay them for each guest they send us!
        </div>
        <div class="left-questions question-bubble q2 animated zoomIn random1" id="idea_animation_m_right">
          How can we make guests to spend more money after their arrival? </div>
        <div class="left-questions question-bubble q3 animated zoomIn random2">
          How can we promote our services in a way that captures our guests’ attention? </div>
        <div class="left-questions question-bubble q4 animated zoomIn random3">
          Our guests aren’t sharing their problems with us during their stay. Instead, we receive negative reviews once
          they’ve left for home.
        </div>
        <div class="left-questions question-bubble q5 animated zoomIn random4">
          How can we build long-term relationships with guests after their stay?
          How can we better motivate them to visit us again? </div>
      </div>
      <!-- left side -->
      <!-- right side -->
      <div class="half right">
        <div class="content-title idea-content-title">...and your guests are, too</div> <!-- title -->
        <div class="clearfix"></div> <!-- clearfix -->
        <div class="right-questions question-bubble q1 animated zoomIn random0">
          Check-in takes too long! I would appreciate the opportunity to rest after traveling so long to get here,
          instead of listening to the information you have to tell me. </div>
        <div class="right-questions question-bubble q2 animated zoomIn random1">
          Information about hotel services and offers are placed in a pile of flyers. Who even bothers to pick it up and
          read it? </div>
        <div class="right-questions question-bubble q3 animated zoomIn random2">
          I’m sorry, but I&nbsp;didn’t notice this special offer... </div>
        <div class="right-questions question-bubble q4 animated zoomIn random3">
          I’m not going to stand in this queue. I&nbsp;don’t really need a massage that much. </div>
        <div class="right-questions question-bubble q5 animated zoomIn random4">
          How can I&nbsp;communicate with you when I’m outside of the hotel? </div>
      </div>
      <!-- right side -->
      <div class="clearfix"></div> <!-- clearfix -->
    </div>
    <!-- content -->
  </div>
</div>
<div class="container problems-container-wrap" id="problems_animation">
  <!-- <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/first-line.png" class="first-rocket-line"> -->
  <div class="section-dots problems-main-dot"></div>
  <!-- intro -->

  <!-- intro -->
  <!-- content -->
  <div class="problems-content">
    <!-- content half-->
    <div class="half spending problems-animation animated fadeInLeft random0">
      <div class="half-content">
        <div class="content-title problems-content-title">
          Maximize guest spending </div>
        <div class="content-text problems-content-text">
          Encourage your guests to spend as much as possible! Upsell your services or promote services or products from
          your local partners. You’ll build a new source of revenue that will help you earn back the money you had to
          pay for commissions to booking engines, travel agencies and deal sites. </div>
      </div>
    </div>
    <!-- content half-->


  </div>
  <div class="container info-container-wrap" id="info_animation">
    <!-- left side -->
    <div class="half intro-info-wrap">
      <!-- intro -->
      <div class="intro-content-wrap">
        <div class="intro-info-title main-title">Explore the wide use of mobile apps!</div>
        <div class="intro-info-text main-text">
          Mobile applications are not future anymore. They become <strong>present!</strong> </div>
      </div>
      <!-- intro -->
    </div>
    <!-- left side -->
    <!-- right side -->
    <div class="half info-knows-wrap">
      <!-- did you know? -->
      <div class="info-knows-content-wrap animated zoomIn random0">
        <div class="knows-bubble-wrap">
          <div class="knows-bubble">
            <div class="knows-bubble-content">
              <div class="knows-bubble-title">93</div>
              <div class="knows-bubble-text">%</div>
            </div>
          </div>
        </div>
        <div class="knows-content-text">
          <strong>93% of your guests</strong> own a smartphone or tablet </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <!-- did you know? -->
      <!-- did you know? -->
      <div class="info-knows-content-wrap margin-it animated zoomIn random1">
        <div class="knows-bubble-wrap">
          <div class="knows-bubble">
            <div class="knows-bubble-content">
              <div class="knows-bubble-title">85</div>
              <div class="knows-bubble-text">%</div>
            </div>
          </div>
        </div>
        <div class="knows-content-text">
          85% of guests <strong>prefer an application</strong> to a website </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <!-- did you know? -->
      <!-- did you know? -->
      <div class="info-knows-content-wrap animated zoomIn random2">
        <div class="knows-bubble-wrap">
          <div class="knows-bubble">
            <div class="knows-bubble-content">
              <div class="knows-bubble-title">63</div>
              <div class="knows-bubble-text">%</div>
            </div>
          </div>
        </div>
        <div class="knows-content-text">
          63% of guests prefer to order or <strong>reserve hotel services</strong> via mobile devices
        </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <!-- did you know? -->
      <!-- did you know? -->
      <div class="info-knows-content-wrap margin-it animated zoomIn random3">
        <div class="knows-bubble-wrap">
          <div class="knows-bubble">
            <div class="knows-bubble-content">
              <div class="knows-bubble-title">53</div>
              <div class="knows-bubble-text">%</div>
            </div>
          </div>
        </div>
        <div class="knows-content-text">
          <strong>53% of guests</strong> will prioritize a hotel that offers an mobile application </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <!-- did you know? -->
    </div>
    <!-- right side -->
  </div>
  <div class="container features-hotel-container-wrap">
    <div class="section-dots features-hotel-main-dot"></div>
    <!-- intro -->
    <div class="intro-features-hotel-wrap ">
      <div class="intro-features-hotel-title main-title intro-reference-wrap">Features that will boost <span
          class="red-text">your hotel</span>
      </div>
      <div class="intro-features-hotel-text main-text">
        The application has been developed in cooperation with more than 150 hotels. This ensures that the expectations
        of
        hotel managers, marketing and sales departments and front-desk staff will be met. </div>
    </div>
    <!-- intro -->
  </div>


  <div class="section-features">
    <div class="container features-container-wrap">
      <div class="section-dots features-main-dot"></div>
      <!-- intro -->
      <div class="intro-features-wrap ">
        <div class="intro-features-title main-title">Features that delight <span class="red-text">your guests</span>
        </div>
        <div class="intro-features-text main-text">
          Guests can easily overcome all common difficulties they face during their stay. Let them enjoy the new level
          of
          customer service with RoomAssistant. </div>
      </div>
      <!-- intro -->
      <!-- content -->
      <div class="features-content">
        <div class="phone-side">
          <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/iPhone.png"
            class="fp-iphone-features">
        </div>
        <div class="content-side">
          <!-- features -->
          <div class="mobile-features-wrap s1">
            <!-- features bubble -->
            <div class="bubble-wrap">
              <div class="features-small-bubble reservation"></div>
              <div class="features-bubble reservation"></div>
            </div>
            <!-- features bubble -->
            <!-- features content -->
            <div class="content">
              <div class="content-title">Reservations</div>
              <div class="content-divider"></div>
              <div class="content-text">
                Order any hotel service without having to visit or call the often busy and overloaded front desk. You’re
                just two clicks away! </div>
            </div>
            <!-- features content -->
          </div>
          <!-- features -->
          <!-- features -->
          <div class="mobile-features-wrap s2">
            <!-- features bubble -->
            <div class="bubble-wrap">
              <div class="features-small-bubble livechat"></div>
              <div class="features-bubble livechat"></div>
            </div>
            <!-- features bubble -->
            <!-- features content -->
            <div class="content">
              <div class="content-title">Live chat</div>
              <div class="content-divider"></div>
              <div class="content-text">
                Do you need something from reception or another department? Reach the right person via our live chat
                option. No matter where you are, you’ll get what you need. </div>
            </div>
            <!-- features content -->
          </div>
          <!-- features -->
          <!-- features -->
          <div class="mobile-features-wrap s3">
            <!-- features bubble -->
            <div class="bubble-wrap">
              <div class="features-small-bubble reception"></div>
              <div class="features-bubble reception"></div>
            </div>
            <!-- features bubble -->
            <!-- features content -->
            <div class="content">
              <div class="content-title">Reception services</div>
              <div class="content-divider"></div>
              <div class="content-text">
                Request hotel services, cleaning services, a taxi or wake-up call. </div>
            </div>
            <!-- features content -->
          </div>
          <!-- features -->
        </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <!-- features button -->
      <div class="features-btn-wrap">
        <a href="/features/?section=guest" class="features-btn btn"
          onclick="ga('send', 'event', 'features', 'click', 'guest');">View all features</a>
      </div>
      <!-- features button -->
    </div>
  </div>

  <div class="section-implement" id="implement">
    <div class="container implement-container-wrap">
      <!-- intro -->
      <div class="intro-implement-wrap ">
        <div class="implement-main-dot-wrap">
          <div class="section-dots implement-main-dot" id="rocket-step-one"></div>
        </div>
        <div class="intro-implement-title-wrap">
          <div class="intro-implement-title main-title">How does the implementation look like?</div>
        </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <!-- intro -->
      <div class="implement-content-wrap">
        <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/rocket.png"
          class="implementation-rocket rocket-move-one" style="animation-name: rocketStart; display: none;">
        <!-- rocket -->
        <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/rocket.png"
          class="implementation-rocket rocket-move-two" style="display: inline;"> <!-- rocket -->
        <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/rocket.png"
          class="implementation-rocket rocket-move-three" style="display: none;"> <!-- rocket -->
        <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/rocket.png"
          class="implementation-rocket rocket-move-last" style="display: none;"> <!-- rocket -->
        <div class="section-dots-sm step-one-dot" id="rocket-step-two">1</div>
        <div class="section-dots-sm step-two-dot" id="rocket-step-three">2</div>
        <div class="section-dots-sm step-three-dot" id="rocket-step-last">3</div>
        <div class="steps step-one-wrap">
          <div class="section-dots-sm mob-dots">1</div>
          <div class="step-title content-title">
            Your Order </div>
          <div class="step-text content-text">
            If you are sure that RoomAssistant is a good fit for you, send us a simple order. </div>
        </div>
        <div class="steps step-two-wrap">
          <div class="section-dots-sm mob-dots">2</div>
          <div class="step-title content-title">
            Design of layout and visual elements </div>
          <div class="step-text content-text">
            Our team will create your menu and adjust the look of the application based on your preferences. </div>
        </div>
        <div class="steps step-three-wrap">
          <div class="section-dots-sm mob-dots">3</div>
          <div class="step-title content-title">
            Options set up </div>
          <div class="step-text content-text">
            You decide which services will be orderable. You can also define departments that will take care of
            particular
            guests' inquiries. </div>
        </div>
        <div class="step-final-wrap">
          <div class="step-last-dot"></div>
          <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/hotel.svg" class="hotel">
          <div class="step-title content-title">
            That’s it! You can use RoomAssistant in your hotel </div>
          <div class="step-text content-text">
            Give your guests access to the application so they can have enjoyable stay! </div>
        </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <div class="implementation-btn-wrap">
        <a href="/order/" class="btn implementation-btn" onclick="ga('send', 'event', 'contact', 'click', 'home1');">Get
          your application now!</a>
      </div>
    </div>
  </div>
  <div class="line">
    <div class="container line-container-wrap">
      <div class="section-dots line-main-dot"></div>
      <div class="line-title">
        Don’t worry about overloading your staff </div>
      <div class="line-text">
        <div>
          Imagine that in the app, a guest inquiry can be solved in just 2 clicks. Would you consider this exhausting?
          Quite the opposite! Thanks to our application, your staff will save more time that can now be dedicated to
          guests who come to the front-desk in person. </div>
        <div class="margin-it-top">
          In case you don’t have an employee available to take care of the application, you can turn off orders for some
          or all of your services. Once your staff feels more comfortable with the application, you can turn on the
          ordering process for as many services as you like. </div>
      </div>
    </div>
  </div>
  <div class="container reference-container-wrap">
    <div class="section-dots reference-main-dot"></div>
    <!-- intro -->
    <div class="intro-reference-wrap ">
      <div class="intro-reference-title main-title">What hotels are saying about us</div>
    </div>

    <div id="text-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-content">
            
                  <div class="reference slick-slide slick-cloned" >
                    <div class="reference-quote">
                      “ As an experienced hotelier, I think that RoomAssistant will help hotels create better
                      relationships with
                      their guests, improve their awareness and moreover, increase their profit. Every organization
                      should make
                      efforts to keep up with modern technologies and take advantage of them before their competitors. “
                    </div>
                    <div class="reference-author">
                      Peter Hrmo
                    </div>
                    <div class="reference-hotel">
                      Manager, Arcadia hotel  The Leading Hotels of the World, Ltd. </div>
                  </div>
              </div>
            </div>
   
            <div class="item">
              <div class="carousel-content">
 
                  <div class="reference slick-slide slick-cloned" >
                    <div class="reference-quote">
                      “ As an experienced hotelier, I think that RoomAssistant will help hotels create better
                      relationships with
                      their guests, improve their awareness and moreover, increase their profit. Every organization
                      should make
                      efforts to keep up with modern technologies and take advantage of them before their competitors. “
                    </div>
                    <div class="reference-author">
                      Peter Hrmo
                    </div>
                    <div class="reference-hotel">
                      Manager, Arcadia hotel  The Leading Hotels of the World, Ltd. </div>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#text-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

    </div>
    <!-- intro -->

  </div>
  <div class="section-willujoin" id="willujoin">
    <div class="container willujoin-container-wrap">
      <div class="section-dots willujoin-main-dot"></div>
      <!-- intro -->
      <div class="intro-willujoin-wrap ">
        <div class="intro-willujoin-title main-title">Will you join the evolution in hospitality?</div>
        <div class="intro-willujoin-text main-text">
          Contact us today so we can discuss the best way to upgrade your service with RoomAssistant. </div>
      </div>
      <!-- intro -->
      <div class="willujoin-inner-wrap">
        <a href="/order/" class="btn willujoin-btn" onclick="ga('send', 'event', 'contact', 'click', 'home2');">I want
          to
          join</a>
      </div>
    </div>
  </div>
  <div class="container">
    <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/footer_bg.png"
      class="footer-image">
  </div>
  <div class="section-contact" id="contact">
    <div class="container contact-container-wrap">
      <div class="half-left">
        <div class="c-info-wrap">
          <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/logo.svg"
            class="footer-logo">
          <div class="copyright">© 2016 - 2017 RoomAssistant</div>
          <div class="follow-us">
            <span class="title">Follow us</span>
            <div class="social">
              <a href="https://www.facebook.com/roomassistant" target="_blank" class="social-logo"
                onclick="ga('send', 'event', 'homepage', 'social', 'facebook');"><img
                  src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/socials/facebook.svg"
                  alt="facebook" title="Like us on Facebook"></a>
              <a href="https://twitter.com/RoomAssistant" target="_blank" class="social-logo"
                onclick="ga('send', 'event', 'homepage', 'social', 'twitter');"><img
                  src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/socials/twitter.svg"
                  alt="twitter" title="Follow us on Twitter"></a>
              <a href="https://www.linkedin.com/company/roomassistant" target="_blank" class="social-logo"
                onclick="ga('send', 'event', 'homepage', 'social', 'linkedin');"><img
                  src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/socials/linkedin.png"
                  alt="linkedin" title="Follow us on Linkedin"></a>
              <a href="https://plus.google.com/+Roomassistant" target="_blank" class="social-logo"
                onclick="ga('send', 'event', 'homepage', 'social', 'google');"><img
                  src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/socials/google.svg"
                  alt="google" title="Follow us on Google"></a>
              <a href="https://www.youtube.com/channel/UCjyTIiLPSHFGAtiE1aPyJsw" target="_blank" class="social-logo"
                onclick="ga('send', 'event', 'homepage', 'social', 'youtube');"><img
                  src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/socials/youtube.svg"
                  alt="youtube" title="Subscribe us on Youtube"></a>
              <a href="https://www.gruveo.com/@roomassistant" target="_blank" class="social-logo"
                onclick="ga('send', 'event', 'homepage', 'social', 'gruveo');"><img
                  src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/socials/g-circle.svg"
                  alt="gruveo" title="Give us a free call on Gruveo" style="width:25px; height:25px;"></a>
            </div>
          </div>
        </div>
        <div class="c-sitemap-wrap">
          <div class="learn-more">
            <div class="title">Learn more</div>
            <ul class="learn-more-list">
              <li><a href="help-center">Support</a></li>
              <li><a href="faq">FAQ</a></li>
              <li><a href="/ebook/" onclick="ga('send', 'event', 'ebook', 'footer', 'homepage');">eBook</a></li>
              <li><a href="http://blog.roomassistant.com/" target="_blank">Blog</a></li>
              <li><a href="privacy-policy">Privacy Policy</a></li>
              <!-- <li><a href="#" target="_blank">Terms and Conditions</a></li> -->
            </ul>
          </div>
          <div class="clearfix"></div> <!-- clearfix -->
        </div>
        <div class="clearfix"></div> <!-- clearfix -->
      </div>
      <div class="half-right">
        <div class="split-it">
          <div class="customer-contacts g-c-float">
            <div class="h-title">Marketing</div>
            <div class="h-mail"><a href="mailto:marketing@roomassistant.com" title="Contact our Marketing team"
                target="_blank">marketing@roomassistant.com</a></div>
            <div class="h-phone">+421 907 490 689</div>
          </div>
          <div class="sales-contacts g-c-float">
            <div class="h-title">Management</div>
            <div class="h-mail"><a href="mailto:management@roomassistant.com" title="Contact our Management team"
                target="_blank">management@roomassistant.com</a></div>
            <div class="h-phone">+421 908 474 141</div>
          </div>
        </div>
        <div class="split-it">
          <div class="marketing-contacts g-c-float">
            <div class="h-title">Office hours</div>
            <div class="h-mail">Monday - Friday</div>
            <div class="h-phone">7 am - 5 pm CET</div>
          </div>
          <div class="management-contacts g-c-float">
            <div class="h-title">Sales</div>
            <div class="h-mail"><a href="mailto:sales@roomassistant.com" title="Contact our Sales team"
                target="_blank">sales@roomassistant.com</a></div>
            <div class="h-phone">+421 949 581 783</div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div> <!-- clearfix -->
    </div>
  </div>